@using SquishIt.Framework
<!DOCTYPE html>

<html ng-app="Todo">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.Raw(
        @Bundle.Css()
        .Add("~/Content/bootstrap/bootstrap.css")
        .Add("~/Content/font-awesome.css")
        .Add("~/Content/app/todo.less")
        .Render("~/Content/todo_#.css")
    )
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Html.Raw(Bundle.JavaScript()
        .Add("~/Scripts/angular.js")
        .Add("~/Scripts/ui-bootstrap-tpls-0.6.0.js")
        .Add("~/Scripts/underscore.js")
        .Add("~/Scripts/app/app.js")
        .Add("~/Scripts/app/controllers/TodoController.js")
        .Add("~/Scripts/app/services/TodoService.js")
        .Add("~/Scripts/app/helpers/HttpRequestUrlHelper.js")
        .Render("~/Scripts/todo_#.js")
    )
</body>
</html>
